target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/br/guilherme/Algoritmos/HackerRank/DiagonalDifference.class
target/classes/br/guilherme/Algoritmos/HackerRank/ComparetheTriplets.class
target/classes/br/guilherme/Algoritmos/HackerRank/AVeryBigSum.class
